
.post {
  background-color:#F6F6EF  ;
}

.caret {
  color: #CC5201;
}

.post .post-div h3 {
  font-size: 16px;
}

.post .post-div span {
  font-size: 16px;
  color:#8A8A89;
}

.post .post-title {
  text-decoration: none;
  color: black;
  font-weight:lighter;
}

.post .post-url {
  text-decoration: none;
  color:grey;
}
